body {
  font-family: "Work Sans", sans-serif;
  /* weights 300, 600, 900 */
  font-size: 20px;
}

.tilerow {
  margin-bottom: 0.4rem;
}

.tile {
  background-color: #ddeaf9;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

b {
  font-weight: 600;
}
